<script id="/partials/navigation" type="text/x-handlebars-template"></script>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Acerca de mí:</h1>
    <p class="lead">Mi nombre es Emiro González, estudiante del 8vo semestre del programa de Ingeniería Telemática de la UCLA<br>
        Contacto: +584145744413<br>
        Correo: emirogonzart@gmail.com
    </p>
  </div>
</div>