<!--Carrusel-->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/img/histomed.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container">
    <div class="row">
        <div class="col -sm-6">
            <div class="titulos">
                <h2>Acceso a sus historias médicas en todo momento</h2>
                <p>Fácil, seguro y práctico<br>
                    Con este sistema podrás ver en cualquier momento la historia médica de sus pacientes.</p>
            </div>
        </div>
        <div class="col -sm-6">
            <div class="medico-lateral">
                <img src="/img/medico.jpg" class="rounded mx-auto d-block" alt="...">
            </div>
        </div>
    </div>

</div>